.edit-reply-input {
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: #d1d5db;
  flex: 1 1 0%;
  width: 100%;
  border-radius: 0.5rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.reply-container {
  display: flex;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #f3f4f6;
  color: #000000;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 28rem;
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.reply-img-wrapper {
  display: flex;
  gap: 1rem;
}

.bank-img {
  height: 2.5rem;
  border-radius: 50%;
}
.reply-bank-name {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
}
.reply-date {
  font-size: 10px;
}
.reply-content {
  margin-top: 0.5rem;
}
.edit-btn-container {
  display: flex;
  gap: 1rem;
}
